body {
  font-size: 16px;
}

header {
        border-bottom: 2px solid #091f34;
}

footer {
        border-top: 2px solid #091f34;
}

header .container,
.mainbody .container,
footer .container {
  width: 1100px;
  margin: 0 auto;
}

.logo {
  max-width: 70px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  background: #091f34;
  text-align: center;
}

.mainbody .container {
  display: flex;
  min-height: 500px;
}

.left-container {
  width: 40%;
}

.right-container {
  width: 60%;
}

.left-container,
.right-container {
  padding: 10px 20px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.customer {
  border: 1px solid #EEEEEE;
  margin-bottom: 10px;
  padding: 10px;
}

.customer .id {
  font-weight: bold;
}

li.customer:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

.address {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}